body {
  margin: 0;
  font-family: helvetica, sans-serif;
  background: #FFF;
  font-size: 20px;
  color: #5F5F5F;
}

// Header.
#header {
  padding: 20px 15px;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.06);
  position: fixed;
  width: 100%;
  transition: padding 500ms;
}
#header.reduced {
  padding: 0px 15px;
  #header-logo {
    font-size: 25px;
    border-right-width: 1px;
    cursor: pointer;
  }
  .header-link {
    font-size: 16px;
  }
}
#header-logo {
  display: inline-block;
  font-weight: 300;
  border-right: 2px solid rgba(0, 0, 0, 0.16);
  padding-right: 20px;
  margin: 10px 5px 10px 0;
  transition: font-size 500ms;
}
.header-link {
  color: #46A132;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
  transition: font-size 500ms;
}
.header-link:hover, .current {
  border-bottom: 2px solid;
  padding-bottom: 3px;
}

// Sections generic.
.section {
  height: 1000px;
  padding: 20px
}
#title-section {
  background: url('/images/oakleaves.jpg') no-repeat;
  background-size: 100%;
}
.section-title {
  text-align: center;
  font-weight: 300;
  color: #4BA338;
}
.section-text {
  text-align: center;
  padding: 10px 15%;
  color: #8E8E8E;
  line-height: 35px;
}
.section-divider {
  width: 40px;
  margin: 20px auto;
  border-top: 2px solid #A4CD9B;
}
.next-section {
  text-align: center;
  margin-top: 30px;
}
.next-section-link {
  color: #5F5F5F;
  font-size: 20px;
  text-decoration: none;
}
.next-section-arrow {
  display: block;
  margin: 10px auto;
  width: 30px;
  border: 1px solid #E0E0E0;
  padding: 9px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 300ms;
}
.next-section-arrow:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}


// Sections specific.
#title-section {
  .section-blocker {
    height: 550px;
  }
  .next-section-arrow {
    border-width: 2px;
    border-color: #fff;
    width: 40px;
    padding: 15px;
  }
}
#documents {
  text-align: center;
  margin-top: 50px;
}
.document-item {
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  width: 25%;
}
.documents-logo {
  img {
    height: 60px;
  }
}
.documents-title {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px solid #D7D7D7;
  padding-bottom: 10px;
}
.documents-list {
  padding: 0;
  text-align: left;
  li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
    a {
      text-decoration: none;
      font-size: 17px;
      .fa {
        margin-right: 7px;
      }
    }
  }
}
#gallery {
  text-align: center;
  text-align: center;
  width: 70%;
  margin: 40px auto;
}
.image {
  height: 112px;
  margin: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border: 2px solid #fff;
  cursor: pointer;
  transition: box-shadow 300ms;
}
.image:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
}

